#utilitiesInput::placeholder {color: white;}
#automativeInput::placeholder {color: white;}
#agricultureInput::placeholder {color: white;}
#manufactoringInput::placeholder {color: white;}
#transportationInput::placeholder {color: white;}


/*#utilitiesInput{    background-color: #0c9b5b;}
#automativeInput{    background-color: #0c9b5b;}
#agricultureInput{    background-color: #0c9b5b;}
#manufactoringInput{    background-color: #0c9b5b;}
#transportationInput{    background-color: #0c9b5b;}*/


#utilitiesInput{    background-color: #3e8e41;}
#automativeInput{    background-color: #3e8e41;}
#agricultureInput{    background-color: #3e8e41;}
#manufactoringInput{    background-color: #3e8e41;}
#transportationInput{    background-color: #3e8e41;}



#launchButton{
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 30px;
}



#closeLayer{
    width: 80%;
    height: 80%;
    background: transparent;
    position: absolute;
    z-index: 1;

}
