#utilitiesInput::placeholder {color: white;}
#automativeInput::placeholder {color: white;}
#agricultureInput::placeholder {color: white;}
#manufactoringInput::placeholder {color: white;}
#transportationInput::placeholder {color: white;}


#utilitiesInput{    background-color: #0c9b5b;}
#automativeInput{    background-color: #0c9b5b;}
#agricultureInput{    background-color: #0c9b5b;}
#manufactoringInput{    background-color: #0c9b5b;}
#transportationInput{    background-color: #0c9b5b;}